<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문자 몫과 나머지구하기</title>

    <link media="screen" rel="stylesheet" th:href="@{/static/css/app.min.css}" type="text/css"/>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="http://andywer.github.io/jquery-dim-background/jquery.dim-background.min.js"></script>
    <script th:src="@{/static/js/app.min.js}"></script>
    <script th:src="@{/static/js/index.js}"></script>
</head>
<body>
<div>URL : <input id="url" type="text"/></div>
<div>Type : <select id="tagType">
    <option value="EXCLUDE_HTML">Html태그제외</option>
    <option value="ALL">text 전체</option>
</select>
</div>
<div>출력묶음단위 : <input id="bundle" type="text"/></div>
<div><input onclick="index.getLetters()" type="button" value="출력"/></div>
<p/>
<div>몫 : <span id="quotient"></span></div>
<div>나머지 : <span id="remainder"></span></div>
</body>
</html>